.cardsRecomendations {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.buttonStart {
  background-color: #f58634;
  bottom: 0;
  font-size: 15px;
  position: fixed;
}
