.category-body {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}

.category-body > :nth-child(1) {
  font-size: 1.3rem;
  letter-spacing: 3px;
  width: 100%;
}

.form-button {
  font-size: 1rem;
  flex-grow: 1;
  margin: 3px;
  padding: 0 5px;
}
